.tittlefont{

    margin-top: 60px;
    width: 200px;

}

 header{
    background-image: url(/img/pattern.png);
    background-size: 400px;
    height: 130px;
    background-color: blue;
 }

 *{
    margin:0;
    padding: 0;
    box-sizing: border-box;
 } 

.container 
{
    max-width: 1200px;
    margin:0 auto;
}

.text-grey
{
    color: grey;
}

#author 
{
    color:aqua
}
.text-small
{
    font-size: 12px;
}