.tittlefont{

    margin-top: 60px;
    width: 200px;

}

header{
    background-image: url(/img/pattern.png);
    background-size: 400px;
    height: 130px;
    background-color: blue;
}

 *{
    margin:0;
    padding: 0;
    box-sizing: border-box;
} 

.container 
{
    max-width: 1200px;
    margin:0 auto;
}

.text-grey
{
    color: grey;
}

#author 
{
    color:aqua
}
.text-small
{
    font-size: 12px;
}

table {
    border-spacing: 0;
    
}

thead {
    background: rgb(33, 207, 255);
}

.equal-line {
    background-color: rgb(255, 255, 255);
}

.odd-row {
    background-color: #8fdcf0;
    color: rgb(0, 0, 0);
}

td {
    padding: 10px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.text-space{
margin-bottom: 20px;
}

.above-space{
    margin-bottom: 20px;
    margin-top: 20px;
}

.img-container {
    position: relative;
    text-align: left;
    margin-bottom: 20px;
}

.bottom-left {
    position: absolute;
    bottom: 85%;
    left: 10px;
    color: rgb(249, 249, 249);
}